* {
	margin: 0;
	padding: 0;
}

/* LIENS */
a {
	color: #3366cc;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}

/* IMG */
img {
	border-radius: 5px;
}

/* LISTES */
ul {
	margin: 10px 0 10px 30px;
}

/* TITRES */
h1, h2 {
	margin: 5px 0 15px;
}

/* FORMULAIRES */
form {
	width: 350px;
	margin: auto;
	padding: 20px;
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 5px;
}
	input[type="text"], input[type="date"], textarea {
		display: block;
		width: 330px;
		margin: 5px 0 5px;
		padding: 5px 10px;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 100%;
	}
		textarea {
			min-height: 100px;
			font-size: 110%;
		}
	input[type="submit"].button {
		width: 100%;
		margin: 5px 0 5px;
		padding: 5px 0;
	}
	form.add_user {
		display: table;
		width: 300px;
		padding: 0;
		margin: 0 0 0 60px;
		background: #fff;
		border: none;
	}
		form.add_user input {
			display: table-cell; height: 30px;
			color: #888; border: 1px solid #888; line-height: 30px; vertical-align: middle; box-shadow: 0px 0px 3px #aaa; font-size: 90%;
		}
			form.add_user input:focus {
				color: #3366cc;
			}
			form.add_user input[type="text"] {
				width: 250px; padding: 0 0 0 10px;
				border-right: none; border-radius: 10px 0 0 10px;
			}
			form.add_user input[type="submit"] {
				width: 30px; height: 32px;
				background: #e9e9e9; border-radius: 0 10px 10px 0; cursor: pointer; font-weight: bold;
				background: -moz-linear-gradient(center top, #FFFFFF 0%, #E9E9E9 100%);
			}

/* STRUCTURE */
body {
	background: #fafafa;
}

header {
	display: table;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #aaa;
	background: url("img/dinner.jpg") center center no-repeat;
	background-size: cover;
	color: #333;
}
	header #title {
		display: table-cell;
		width: 30%;
		background: rgba(255, 255, 255, 0.5);
		text-align: center;
		font-size: 200%;
		vertical-align: middle;
		text-shadow: 1px 1px 3px #ddd;
		line-height: 100px;
	}
		header #title a {
			display: block;
			color: #333;
		}
			header #title a:hover {
				text-decoration: none;
			}
	header #subtitle {
		display: table-cell;
		padding: 0 50px;
		background: rgba(255, 255, 255, 0.5);
		font-size: 90%;
		vertical-align: middle;
		font-family: Palatino, "Times New Roman", serif;
	}

#global {
	display: table;
	height: 300px;
	width: 100%;
	background: #fff;
}
	#main {
		display: table-cell;
		padding: 20px 40px;
		vertical-align: top;
	}
	#sidebar {
		display: table-cell;
		width: 30%;
		padding: 20px 0;
		border-left: 1px solid #aaa;
		vertical-align: top;
	}
		#sidebar .info {
			padding: 10px;
			font-size: 90%;
		}
		#sidebar .participants {
			margin: 20px 0;
			border-top: 1px solid #aaa;
		}
			#sidebar .nbParticipants {
				width: 150px;
				margin: -12px 0 0;
				padding: 0 30px;
				background: #fff;
				color: #666;
				font-weight: bold;
				text-align: center;
			}
			#sidebar .participants ul {
				display: table;
				width: 100%;
				margin: 10px 0;
				list-style: none;
			}
				#sidebar .participants ul li {
					display: table-row;
					line-height: 50px;
					text-align: center;
				}
					#sidebar .participants ul li span {
						display: table-cell;
						text-align: left;
						vertical-align: top;
					}
						#sidebar .participants ul li span.avatar {
							width: 100px;
							text-align: center;
						}
							#sidebar .participants ul li span.avatar img {
								width: 42px;
							}

.post {
	padding: 20px 50px;
	color: #666;
	border-top: 2px solid #aaa;
	background: -moz-linear-gradient(top, #f0f0f0, #fff 20px);
	border-radius: 10px 10px 0 0;
	font-size: 90%;
	line-height: 170%;
}
	.post+.post {
		background: #fff;
		border-top: none;
		border-radius: 0;
	}
	.post .date_loc {
		padding: 0 0 0 25px;
		background: url("img/date.png") left center no-repeat;
	}
	.post .author {
		padding: 0 0 0 25px;
	}
	.post .description {
		margin: 20px 0;
	}
.comment {
	display: table;
	width: 100%;
	margin: 30px 0 0;
	padding: 10px;
	border-radius: 10px;
}
	.comment.even {
		background: #fafafa;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}
	.comment .avatar {
		display: table-cell;
		width: 100px;
		vertical-align: top;
		text-align: center;
	}
		.comment .avatar img {
			width: 60px;
		}
	.comment .content {
		display: table-cell;
		vertical-align: top;
		font-size: 110%;
	}
		.comment .content .more {
			display: block;
			color: #999;
			font-size: 80%;
		}

footer {
	display: block;
	padding: 5px 0;
	color: #666;
	border-top: 1px solid #aaa;
	text-align: center;
	font-size: 90%;
	font-style: italic;
}

/* MORE */
.button {
	display: block;
	min-height: 30px;
	margin: 0 50px;
	padding: 10px 50px;
	background: -moz-linear-gradient(center top , #FFFFFF 0%, #E9E9E9 100%);
	border: 1px solid #aaa;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}
	.button:hover {
		background: #eee;
		text-decoration: none;
	}

form div.info {
	margin: 10px 10px 20px;
	padding: 10px;
	background: #fff;
	border: 1px solid #eee;
	text-align: center;
	border-radius: 5px;
	box-shadow: 2px 2px 10px #ddd;
	font-size: 90%;
}
	form div.info.error {
		background: -moz-linear-gradient(top, #fee, #fff);
	}

.missing {
	background: -moz-linear-gradient(top, #fee, #fff 10px) !important;
	border: 1px solid #f66 !important;
}
