body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

footer {
	margin-top: 150px;
	text-align: center;
}

#index .row {
	margin-top: 50px;
}

#event_see img {
	height: 50px;
	width: 50px;
}

#event_see #commentaires {
	margin-top: 25px;
}

#event_see .comment {
	margin-top: 25px;
}

#event_see .comment .content {
	margin-top: 10px;
	text-indent: 25px;
}

#event_see .polllist {
	font-size: 16px;
}

#event_see #rightside {
}
