#index {
	margin: 50px 0;
}
#index .row {
	text-align: center;
}
#version {
	text-align: center;
	font-size: 8px;
	margin-top: 100px;
}
.navbar {
	margin-left:auto;
	margin-right: auto;
	width: 75%;
}
.event {
	margin: 20px 0;
	list-style: none;
}
.event p {
	margin: 10px 0;
}
.commentaires .media-list {
	margin: 50px 0;
}
.avatar {
	max-width: 50px;
	margin: 5px;
}


.participants .media-list {
	max-height: 400px;
	padding: 10px 0;
	overflow: auto;
}
.participants .avatar {
	max-width: 50px;
	max-height: 40px;
}
.max {
	font-weight: bold;
}
